{% extends 'index_centre.html' %}

{% block content %}
<h1>Informació professorat de ITICBCN</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Email</th>
            <th>Curs</th>
        </tr>
    </thead>
    <tbody>
        {% for profe in profes %}
            <tr>
                <td>{{ profe.id }}</td>
                <td>{{ profe.name }}</td>
                <td>{{ profe.surname }}</td>
                <td>{{ profe.email }}</td>
                <td>{{ profe.curs }}</td>
                <td><a href="{% url 'info_prof' profe.id %}">ver datos</a></td>
                
                <td><a href="{% url 'update' profe.id %}">update</a></td>
                <td><a href="{% url 'delete' profe.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href="{% url 'index' %}">Tornar enrere</a></p>  
{% endblock %}